
<div class= "container">
    <div class="form-group card p-1">
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label 'User Name'%><br>
        <%= f.text_field :username, class: "form-control"%><br>
        <br>
        <%= f.label 'Password'%><br>
        <%= f.password_field :password, class: "form-control"%><br>
        <br>
        <%= f.submit "Submit Article", class: "btn btn-primary"%>
        <br>
      <% end %>
    </div>
</div>