<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<br>
<br>

<div class= "container">
    <div class="form-group card p-1">
      <%= form_for @article do |f| %>
        <%= f.label 'Article Title'%><br>
        <%= f.text_field :title, class: "form-control"%><br>
        <br>
        <%= f.label 'Article Description'%><br>
        <%= f.text_area :description, class: "form-control"%><br>
        <br>
        <%= f.submit "Submit Article", class: "btn btn-primary"%>
        <br>
      <% end %>
    </div>
</div>