<br>
<h1><strong><u>Articles Listing Page</u> </h1></strong>
<br>
<br>
<div class= "container">
  <table class="table">
    <thead class="thead-dark">
      <tr style= "font-size: 20px; text-align: center;">
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr style= "font-size: 15px; text-align: center;">
          <td><%= article.title %></td>
          <td><%= article.description %></td>
          <td colspan= "3">
            <%= link_to 'Show', article_path(article) %>
            <%= link_to 'Edit', edit_article_path(article) %>
            <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
<br>
</div>

<div class="text-center">
  <%= button_to 'Create new article', new_article_path, :method => :get, class: ' btn btn-primary' %>
</div>


