<%# table for specification %>
<table class="table">
  <thead class="thead-dark">
    <tr style= "text-align: center;">
      <th scope="col", width= "30%">Features</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr style= "font-size: 20px; text-align: center;">
      <td><strong>Model Name</strong></td>
      <td class="specification_table_body"><%= @specification.phone_name %></td>
    </tr>

    <tr style= "font-size: 20px; text-align: center;">
      <td><strong>Variants</strong></td>
      <td class="specification_table_body"><%= @specification.variants %></td>
    </tr>

    <tr style= "font-size: 20px; text-align: center;">
      <td><strong>Price</strong></td>
      <td class="specification_table_body"><%= @specification.price %></td>
    </tr>

    <tr style= "font-size: 20px; text-align: center;">
      <td><strong>Launch Date</strong></td>
      <td class="specification_table_body"><%= @specification.launch_date %></td>
    </tr>

    <tr style= "font-size: 20px; text-align: center;">
      <td><strong>Processor</strong></td>
      <td class="specification_table_body"><%= @specification.processor %></td>
    </tr>

    <tr style= "font-size: 20px; text-align: center;">
      <td><strong>Memory Variants</strong></td>
      <td class="specification_table_body"><%= @specification.memory %></td>
    </tr>

    <tr style= "font-size: 20px; text-align: center;">
      <td><strong>Camera</strong></td>
      <td class="specification_table_body"><%= @specification.camera %></td>
    </tr>

    <tr style= "font-size: 20px; text-align: center;">
      <td><strong>Battery</strong></td>
      <td class="specification_table_body"><%= @specification.battery %></td>
    </tr>

    <tr style= "font-size: 20px; text-align: center;">
      <td><strong>Body</strong></td>
      <td class="specification_table_body"><%= @specification.body %></td>
    </tr>

    <tr style= "font-size: 20px; text-align: center;">
      <td><strong>Display</strong></td>
      <td class="specification_table_body"><%= @specification.display %></td>
    </tr>

    <tr style= "font-size: 20px; text-align: center;">
      <td><strong>OS</strong></td>
      <td class="specification_table_body"><%= @specification.os %></td>
    </tr>

    <tr style= "font-size: 20px; text-align: center;">
      <td><strong>Sound</strong></td>
      <td class="specification_table_body"><%= @specification.sound %></td>
    </tr>

    <tr style= "font-size: 20px; text-align: center;">
      <td><strong>Security</strong></td>
      <td class="specification_table_body"><%= @specification.security %></td>
    </tr>

    <tr style= "font-size: 20px; text-align: center;">
      <td><strong>Connection</strong></td>
      <td class="specification_table_body"><%= @specification.connection %></td>
    </tr>
  </tbody>    
</table>