<br>
<h1><strong><u>Showing article details</u></strong></h1>
<br>
<div class= "container">
    <div class="card bg-light mb-3" style="max-width: 20rem;" >
        <div class="card-header text-white bg-dark mb-3">Title: <%= @specification.phone_name %></div>
        <div class="card-body">
            <p class="card-text">Variants: <%= @specification.variants%></p>
            <p class="card-text">Launch Date: <%= @specification.launch_date%></p>
            <p class="card-text">Price: <%= @specification.price%></p>
            <p class="card-text">Network: <%= @specification.network%></p>
            <p class="card-text">Body: <%= @specification.body%></p>
            <p class="card-text">Display: <%= @specification.display%></p>
            <p class="card-text">OS: <%= @specification.os%></p>
            <p class="card-text">Processor: <%= @specification.processor%></p>
            <p class="card-text">Memory: <%= @specification.memory%></p>
            <p class="card-text">Camera: <%= @specification.camera%></p>
            <p class="card-text">Sound: <%= @specification.sound%></p>
            <p class="card-text">Security: <%= @specification.security%></p>
            <p class="card-text">Connection: <%= @specification.connection%></p>
            <p class="card-text">Rating: <%= @specification.rating%></p>
            <p class="card-text">Battery: <%= @specification.battery%></p>
            <%= link_to 'Return to articles listing', specifications_path %>
        </div>
    </div>
</div>



 